<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.DAO.AddzsMapper">
    <insert id="zcadd" parameterType="com.bhdx.models.ZCDetail">
    insert into zsdetail (stuid,level,mark,zk,zsname,time,remark,imageName,img) values  (#{stuid}, #{level}, #{mark}, #{zk}, #{zsName},#{time},#{remark}, #{imageName}, #{img});
    </insert>
    <insert id="cxadd" parameterType="com.bhdx.models.CXDetail">
    insert into zsdetail (stuid,level,zsname,mark,remark,imageName,img) values  (#{stuid}, #{level}, #{zsname}, #{mark}, #{remark}, #{imageName}, #{img});
    </insert>

</mapper>