<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.DAO.AddzsMapper">
    <insert id="zcadd" parameterType="com.bhdx.models.ZCDetail">
    insert into zceDetail (stuid,name,mark,zk,zsname,time,remark,imgName,img,classId) values  (#{stuid}, #{name}, #{mark}, #{zk}, #{zsName},#{time},#{remark}, #{imgName}, #{img},#{classID});
    </insert>
    <insert id="cxadd" parameterType="com.bhdx.models.CXDetail">
    insert into cxDetail (stuid,name,zsname,mark,time,sort,remark,imgName,img,classId) values  (#{stuid}, #{name}, #{zsname}, #{mark},#{time},#{sort}, #{remark}, #{imgName}, #{img},#{classID});
    </insert>

</mapper>