<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.DAO.AdminMapper">

    <select id="Select_Admin" resultType="com.bhdx.models.Admin">
        SELECT * from Admin
    </select>

    <select id="SelectZsDetail" resultType="com.bhdx.models.ZsDetail">
        SELECT * from zsdetail
    </select>

</mapper>