<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.DAO.SelectMapper">
    <!--查询学生all-->
    <select id="findXCAll" resultType="com.bhdx.models.DetailMark">
        select * from xc_all
    </select>
    <!--证书字典-->
    <select id="selectKind" parameterType="java.lang.String" resultType="com.bhdx.models.KindDic">
      SELECT * FROM dicKind WHERE lableId = #{lableId}
    </select>
    <select id="selectlevel" parameterType="java.lang.String" resultType="com.bhdx.models.LevelDic">
      SELECT * FROM dicZs WHERE kindId = #{kindId}
    </select>
    <!--通过学号查综测-->
    <select id="findZcBistuid" parameterType="java.lang.String" resultType="com.bhdx.models.ZCDetail">
      SELECT*FROM zceDetail WHERE stuid = #{stuid}
    </select>
    <!--通过学号查创新-->
    <select id="findCxBistuid" parameterType="java.lang.String" resultType="com.bhdx.models.CXDetail">
      SELECT*FROM cxDetail WHERE stuid = #{stuid}
    </select>
    <!--通过学号查删除-->
    <delete id="delById">
         DELETE FROM cxDetail WHERE ID=#{id};
    </delete>
    <delete id="delByIdZC">
        DELETE FROM zceDetail WHERE ID=#{id};
    </delete>
    <!--查看不通过的证书-->
    <select id="finddelzs" parameterType="java.lang.String" resultType="com.bhdx.models.DelMessage">
        select * from delMessage where stuid = #{stuid}
    </select>
    <!--删除不通过的证书-->
    <delete id="deldel">
          DELETE FROM delMessage WHERE ID=#{id};
    </delete>
    <select id="doshowImg" parameterType="java.lang.String" resultType="com.bhdx.models.CXDetail">
      SELECT img FROM cxDetail WHERE id =#{id}
    </select>
    <select id="doTGCxSelectZsByStuid" parameterType="java.lang.String" resultType="com.bhdx.models.OutCX">
        SELECT zsname,mark,sort FROM outCx WHERE stuid =#{stuid}
    </select>
    <select id="doTGZcSelectZsByStuid" parameterType="java.lang.String" resultType="com.bhdx.models.OutZC">
        SELECT zsname,mark,zk FROM outZc WHERE stuid =#{stuid}
    </select>
</mapper>