<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.DAO.StudentManagementMapper">
    <select id="SelectStudentByID" resultType="com.bhdx.models.Student">
        SELECT id,name,classID from student where id = #{ID}
    </select>

    <insert id="AddNewclass" parameterType="com.bhdx.models.SubjectClass">
            INSERT INTO  'class'(`ID`,`Subject`) VALUES  (#{id},#{subject});
    </insert>
</mapper>
