<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.DAO.StudentMapper">
    <select id="findAll" resultType="Student">
    SELECT * FROM student
  </select>
    <select id="selectInfo" parameterType="String" resultType="Student" >
    SELECT * FROM student WHERE id=#{id}
  </select>
    <update id="changepsw" parameterType="java.util.Map">
        <foreach item="value" index="key" collection="map" separator=";" >
            UPDATE student
            SET
            psw = #{value}
            where
            ID=#{key}
        </foreach>
    </update>
</mapper>